@charset "utf-8";

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  li {
    list-style: none;
  }
  

  /* 팝업 */
  #about {
    width: 100%;
    height: 969px;
    background: url(../img/main-bg.jpg)no-repeat center;
  
  }
  #about .web-inner {
    width: 100%;
    height: 969px;
  }

  .bubble {
    position: relative;
  }

  .bubble::before
{
  content: '';
  position:absolute;
  z-index:2;
  top: 5%;
  left: 75%;
  transform: translate(-50%, -50%);
  display: block;
  width: 18vw;
  height: 18vw;
  min-height: 200px;
  min-width: 200px;
  opacity: 0.3;
  background: linear-gradient(
    270deg,
    #43e97b,
    #38f9d7,
    #e0c3fc,
    #8ec5fc,
    #4facfe,
    #00f2fe,
    #a8edea,
    #fed6e3
  );
  background-size: 1600% 1600%;
  box-shadow: inset 0px -20px 100px 0px rgba(255, 255, 255, 0.48);
  animation: 
    transform 20s linear infinite alternate,
    movement 40s linear infinite alternate,
    shade 60s linear infinite alternate;
}
.bubble::after
{
  content: '';
  position:absolute;
  z-index:2;
  top: 70%;
  left: 2%;
  transform: translate(-50%, -50%);
  display: block;
  width: 9vw;
  height: 4vw;
  min-height: 200px;
  min-width: 200px;
  opacity: 0.3;
  background: linear-gradient(
    270deg,
    #00f2fe,
    #8ec5fc,
    #38f9d7,
    #4facfe,
    #a8edea,
    #43e97b,
    #e0c3fc,
    #fed6e3
  );
  background-size: 1600% 1600%;
  box-shadow: inset 0px -20px 100px 0px rgba(255, 255, 255, 0.48);
  animation: 
    transform2 20s linear infinite alternate-reverse,
    movement 40s linear infinite alternate-reverse,
    shade 60s linear infinite alternate-reverse;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}

@keyframes transform2 {
  0%{border-radius: 42% 58% 60% 40% / 32% 54% 46% 68%}
  20%{border-radius: 59% 41% 36% 64% / 32% 64% 36% 68%}
  40%{border-radius: 48% 52% 52% 48% / 54% 53% 47% 46%}
  60%{border-radius: 42% 58% 51% 49% / 63% 64% 36% 37%}
  80%{border-radius: 32% 68% 33% 67% / 63% 35% 65% 37%}
  100%{border-radius: 34% 66% 52% 48% / 34% 53% 47% 66%}
}

@keyframes movement
{
  from { -webkit-transform: rotate(-1turn) translateY(-50px); transform: rotate(-1turn) translateY(-50px); }
    to { -webkit-transform: none; transform: none; }
}

@keyframes shade
{
  0%, 100% { background-position: 0% 50%; }
       50% { background-position: 100% 50%; }
}
  .web-inner .web-img {
    width: 90%;
    height: 900x;
    margin: 0 auto;
    padding-top: 5%;
    opacity: 0.9;
    z-index: 99999;
  }
  .web-img .popup-mainbox {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 2px 3px 3px #333;
  }
  .web-top {
    width: 80%;
    height: 44px;
    margin: 0 auto;
    background-color: #d9d9d9;
    border-radius: 10px 10px 0 0;
  }
  .web-top span:nth-child(1) {
    width: 1rem;
    height: 1rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    margin-top: 1%;
    margin-left: 3%;
    cursor: pointer;
  }
  .web-top span:nth-child(2) {
    width: 1rem;
    height: 1rem;
    background-color: #ffb526;
    border-radius: 50%;
    position: absolute;
    margin-top: 1%;
    margin-left: 5%;
    cursor: pointer;
  }
  .web-top span:nth-child(3) {
    width: 1rem;
    height: 1rem;
    background-color: #1CC92D;
    border-radius: 50%;
    position: absolute;
    margin-top: 1%;
    margin-left: 7%;
    cursor: pointer;
  }
  .popup-mainbox .popup-header {
    width: 90%;
    height: 150px;
    margin: 0 auto;
    padding-top: 3%;
  }
  .popup-header h1 {
    font-size: 1.875rem;
    font-weight: bold;
    color: #000;
    padding-bottom: 0.5rem;
    font-family: 'SUITE-Regular';
  }
  .popup-header span {
    display: block;
    width: 106px;
    height: 16px;
    background-color: #ffb526;
    border-radius: 50px;
  }
  /* .popup-header p {
    float: right;
    position: relative;
    right: 24rem;
    bottom: 5rem;
    font-size: 45px;
    font-weight: bold;
  } */
.popup-all {
  display: flex;
  width: 100%;
}

  .popup-mainbox .popup-left {
    width: 81%;
  }
  .popup-left .proflie {
    width: 88%;
    margin: 0 auto;
    display: flex;
  }
  .proflie .face {
    width: 39%;
    padding-top: 1rem;
  }
  .face .face-img {
    width: 100%;
  }
  .face-img img {
    width: 100%;
  }
  .proflie .pro-text {
    width: 60%;
    
  }
  .pro-text .top-text {
    width: 100%;
    padding-left: 1rem;
  }
  .pro-text .top-text p {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-family: 'SUITE-Regular';
    transition: all 0.5s;
  }
  .pro-text p:nth-child(2) {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
  }

  .pro-text p:nth-child(3) {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
  }
  .pro-text p:nth-child(4) {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
  }
  .pro-text .bottom-text {
    margin-top: 3rem;
    padding-left: 1rem;
  }

  .pro-text .bottom-text p:first-child {
    font-size: 1.75rem;
    font-weight: bold;

  }
  .pro-text .bottom-text p {
    font-size: 1.125rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    font-family: 'SUITE-Regular';
  }


  .popup-mainbox .popup-right {
    width: 40%;
    margin-bottom: 10%;
  }
  .popupline .Toll-Ability {
    padding-bottom: 2rem;
  }
  .popupline h2 {
    font-size: 1.875rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
    font-family: 'SUITE-Regular';
  }
  .Toll-Ability p {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    font-family: 'SUITE-Regular';
    padding-bottom: 0.7rem;
  }

  .popup-mainbox .pop-btm {
    width: 100%;
  }
  .pop-btm h2 {
    font-size: 1.5625rem;
    padding-left: 1.7rem;
    padding-top: 1rem;
    font-family: 'SUITE-Regular';
  }
  .pop-btm .tool {
    display: flex;
    padding: 2rem 2rem;
    gap: 1.2rem;
  }
  .tool .skils01 {
    background: url(../img/html.png)no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils02 {
    background: url(../img/css.png)no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils03 {
    background: url(../img/javascript.png)no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils04 {
    background: url(../img/photoshop.png)no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils05 {
    background: url(../img/illustrator.png)no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils06 {
    background: url(../img/figma.png)no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils01:hover {
    transform: translateY(-2rem);
  }
  .tool .skils02:hover {
    transform: translateY(-2rem);
  }
  .tool .skils03:hover {
    transform: translateY(-2rem);
  }
  .tool .skils04:hover {
    transform: translateY(-2rem);
  }
  .tool .skils05:hover {
    transform: translateY(-2rem);
  }
  .tool .skils06:hover {
    transform: translateY(-2rem);
  }

  @media screen and (max-width: 1488px) {
    html {
      font-size: 15px;
    }
    .pro-text .top-text p {
      font-size: 2rem;
      font-weight: bold;
      color: #000;
      padding-left: 1rem;
      padding-top: 0.5rem;
      font-family: 'SUITE-Regular';
      transition: all 0.5s;
    }
  }
  @media screen and (max-width: 1166px) {
    html {
      font-size: 14px;
    }
    .popup-all {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    .pro-text .top-text p {
      font-size: 1.5rem;
      font-weight: bold;
      color: #000;
      padding-left: 1rem;
      padding-top: 0.5rem;
      font-family: 'SUITE-Regular';
      transition: all 0.5s;
    }
    .popup-mainbox .popup-right {
      width: 100%;
      padding-top: 2rem;
      padding-left: 2.8rem;
    }
    .popup-right .popupline {
      display: flex;
      gap: 4rem;
    }
    .popup-mainbox .popup-left {
      width: 100%;
  }
    .pop-btm {
      display: none;
    }
  }
  @media screen and (max-width: 900px) {
     html {
      font-size: 13px;
    }
    .bubble::before {
      display: none;
    }
    .bubble::after {
      display: none;
    }
  }
  @media screen and (max-width: 750px) {
    .popup-right .popupline {
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
    }
    .popupline .Toll-Ability {
      padding: 0;
    }
    .popupline .Toll-Ability:nth-child(3) {
      display: none;
    }
  }
  @media screen and (max-width: 644px) {
    html {
      font-size: 12px;
    }
  }
   @media screen and (max-width: 468px) {
    html {
      font-size: 10px;
    }
  }
   @media screen and (max-width: 395px) {
    html {
      font-size: 11px;
    }
  .proflie .face {
    width: 61%;
    padding-top: 1rem;
}
.popup-mainbox .popup-header {
    height: 101px;
  }
   .popup-left .proflie {
    flex-wrap: wrap;
   }
   .pro-text .top-text {
    width: 100%;
    padding-left: 0;
  }
  .pro-text .top-text p:nth-child(1) {
    padding: 1rem 0;
  }
  .pro-text .top-text p:nth-child(2) {
    padding: 0;
  }
   .pro-text .bottom-text {
    width: 100%;
    padding-left: 0;
  }
  .pro-text .bottom-text p {
    margin-left: 0;
  }
  .pop-btm {
    display: block;
  }
  .popup-mainbox .popup-right  {
    display: none;
  }
  .pop-btm h2 {
    padding-left: 0;
  }
  .pop-btm .tool {
    padding: 2rem 0;
  }
  .tool .skils01 {
    width: 100px;
    height: 100px;
    background: url(../img/html.png)no-repeat;
    background-size: contain;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils02 {
    width: 100px;
    height: 100px;
    background: url(../img/css.png)no-repeat;
    background-size: contain;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils03 {
    width: 100px;
    height: 100px;
    background: url(../img/javascript.png)no-repeat;
    background-size: contain;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils04 {
    width: 100px;
    height: 100px;
    background: url(../img/photoshop.png)no-repeat;
    background-size: contain;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils05 {
    width: 100px;
    height: 100px;
    background: url(../img/illustrator.png)no-repeat;
    background-size: contain;
    display: inline-block;
    transition: all 0.5s;
  }
  .tool .skils06 {
    width: 100px;
    height: 100px;
    background: url(../img/figma.png)no-repeat;
    background-size: contain;
    display: inline-block;
    transition: all 0.5s;
  }
  .web-top span:nth-child(1) {
    width: 1rem;
    height: 1rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    margin-top: 2%;
    margin-left: 3%;
    cursor: pointer;
}
  .web-top span:nth-child(2) {
    width: 1rem;
    height: 1rem;
    background-color: #ffb526;
    border-radius: 50%;
    position: absolute;
    margin-top: 2%;
    margin-left: 7%;
    cursor: pointer;
  }
  .web-top span:nth-child(3) {
    width: 1rem;
    height: 1rem;
    background-color: #1CC92D;
    border-radius: 50%;
    position: absolute;
    margin-top: 2%;
    margin-left: 11%;
    cursor: pointer;
}
   }